body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea {
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: monospace;
  resize: vertical;
}

#repository_reference {
  width: 50px;
  padding: 10px;
  resize: none;
  position: fixed;
  top: 0;
  right: 0;
}

#error_message {
  color: red;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.flex-item {
  flex-grow: 0;
  margin-left: 10px;
}

#visualized_ebnf {
  flex-grow: 1;
}

.controls {
  padding: 5px;
}